<header class="header">
<%= link_to 'back', root_path, class: 'header-button', style: "background-image: url(#{asset_path('arrow-small-left.svg')})" %>
<h1 class="header__title"><%=name%></h1>
</header>