<header class="flex flex-row bg-main w-full p-1 text-white justify-between">
<%= link_to '', root_path, class: 'back-image ml-1', style: "background-image: url(#{asset_path('arrow-small-left.svg')})" %>
<h1 class="font-nova text-lg"><%=name%></h1>
<span class="mr-1"></span>
</header>