/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'proxima-nova-bold';
  src: url('../fonts/proximanova-bold.otf') format('otf');
}

@font-face {
  font-family: 'proxima-nova-light';
  src: url('../fonts/proximanova-light.otf') format('otf');
}

.back-image {
  width: 25px;
  height: 25px;
  color: #fff;
  background-color: transparent;
  background-repeat: no-repeat;
}

.new_user {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
